@charset "UTF-8";

p {
    font-family: Arial, Helvetica, sans-serif;
}


footer p .roda {
    margin: 5px 15px;
    color: #000000;
}

footer .roda {
    text-decoration: none;
    padding: 3px;
}

.roda:hover {
    background-color: lightgray;
    border-radius: 5px;
    transition-duration: 1s;
}

@media (min-width: 250px) and (max-width: 395px) {
    .pq-device h1 {
        font-size: 1.5em;
    }

    .pd-device p {
        font-size: 0.3em;
    }

}